# PART 1
# TRI NGUYEN (33660812)
### I WORKED AND SUBMITTED ALONE

In [1]:
import pandas as pd
import numpy 
import sklearn

### import dataset
sonar_train = pd.read_csv("sonar_train.csv")
sonar_test = pd.read_csv("sonar_test.csv")

sonar_test.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A52,A53,A54,A55,A56,A57,A58,A59,A60,Class
0,0.0125,0.0152,0.0218,0.0175,0.0362,0.0696,0.0873,0.0616,0.1252,0.1302,...,0.0041,0.0074,0.0030,0.0050,0.0048,0.0017,0.0041,0.0086,0.0058,R
1,0.0530,0.0885,0.1997,0.2604,0.3225,0.2247,0.0617,0.2287,0.0950,0.0740,...,0.0244,0.0199,0.0257,0.0082,0.0151,0.0171,0.0146,0.0134,0.0056,M
2,0.0368,0.0279,0.0103,0.0566,0.0759,0.0679,0.0970,0.1473,0.2164,0.2544,...,0.0105,0.0024,0.0018,0.0057,0.0092,0.0009,0.0086,0.0110,0.0052,M
3,0.0164,0.0173,0.0347,0.0070,0.0187,0.0671,0.1056,0.0697,0.0962,0.0251,...,0.0090,0.0223,0.0179,0.0084,0.0068,0.0032,0.0035,0.0056,0.0040,R
4,0.0216,0.0124,0.0174,0.0152,0.0608,0.1026,0.1139,0.0877,0.1160,0.0866,...,0.0052,0.0049,0.0096,0.0134,0.0122,0.0047,0.0018,0.0006,0.0023,R

In [2]:
### Minkowski distance algo
def minkowski_distance(p1, p2, q):
    distance = 0
    for a, b in zip(p1, p2):
        distance += pow(abs(a-b), q)
    return distance ** (1/q)

### nearest neighbor algo
def nearest_neighbor(train_x, train_y, test_x, q):
    prediction = []

    # loop through test sample
    for test_sample in test_x:
        distances  = []

        # get all distances between train samples with current test sample with q params
        for train_sample in train_x:
            distance = minkowski_distance(test_sample, train_sample, q)
            distances.append(distance)

        # index of smallest value in distances array
        nearest_index = numpy.argmin(distances)
        # get label from last column
        prediction.append(train_y[nearest_index][-1])

    return prediction

In [3]:
train_x = sonar_train.drop(columns=["Class"]).values
train_y = sonar_train["Class"].values
test_x = sonar_test.drop(columns=["Class"]).values
test_y = sonar_test["Class"].values

### print and return evaluation metric values of the prediciton
def eval(true, predict):
    accuracy = sklearn.metrics.accuracy_score(true, predict)
    precision_score = sklearn.metrics.precision_score(true, predict, pos_label='M')
    recall_score = sklearn.metrics.recall_score(true, predict, pos_label='M')
    f1_score = sklearn.metrics.f1_score(true, predict, pos_label='M')
    print("accuracy: {}, precision_score: {}, recall_score: {}, f1_score: {}".format(accuracy, precision_score, recall_score, f1_score))    
    # return accuracy, precision_score, recall_score, f1_score

print("q=1 (Manhattan)")
prediction_q1 = nearest_neighbor(train_x, train_y, test_x, 1)
eval(test_y, prediction_q1)

print("q=2 (Euclidean)")
prediction_q2 = nearest_neighbor(train_x, train_y, test_x, 2)
eval(test_y, prediction_q2)

q=1 (Manhattan)
accuracy: 0.8840579710144928, precision_score: 0.8536585365853658, recall_score: 0.9459459459459459, f1_score: 0.8974358974358975
q=2 (Euclidean)
accuracy: 0.8985507246376812, precision_score: 0.8571428571428571, recall_score: 0.972972972972973, f1_score: 0.9113924050632911